@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*create general variables*/
:root{
    /*font styles*/
    --font1: "Inter", sans-serif;
    --font2: "Roboto", sans-serif;
    --font3: "Open Sans", sans-serif;

    /*pallete*/
    --color1: #0A58BF;
    --color2: #084F8C;
    --color3: #073359;
    --color4: #05DBF2;
    --color5: #05F2F2;
    --color6: rgba(20,20,20,1);
    --color7: rgba(83, 83, 83, 0.599);
    --color8: rgba(18,18,18,1);
    --color9: #05daf240;
}

/*take the padding and margin of all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: var(--color9);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font3);
}

h2 ,h3{
    color: var(--color3);
}

h2{
    font-weight: 900;
}

#user-account{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label#labelAlt{
    display: none;
}

#content{
    display: flex;
    gap: 10px;
}

#img{
    display: flex;
    flex-direction: column;
}

#img input{
    width: 300px;
}

#img img{
    width: 100px;
    height: 100px;
    background-color: var(--color7);
}

#user-info{
    display: flex;
    flex-direction: column;
}

#mode{
    display: flex;
    gap: 0px;
    width: 92px;
    border-radius: 20px;
    width: 200px;
}

#mode button{
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    border: 1px solid #ccc;/*essa cor é definitivamente MÁGICA torna os elementos transparentes*/
    width: 100px;
}

button#dark{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

button#light{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#mode:hover{
    background-color: #00000020;
}