@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*create general variables*/
:root{
    /*font styles*/
    --font1: "Inter", sans-serif;
    --font2: "Roboto", sans-serif;
    --font3: "Open Sans", sans-serif;

    /*pallete*/
    --color1: #0A58BF;
    --color2: #084F8C;
    --color3: #073359;
    --color4: #05DBF2;
    --color5: #05F2F2;
    --color6: rgba(20,20,20,1);
    --color7: rgba(83, 83, 83, 0.599);
    --color8: rgba(18,18,18,1);
    --color9: #05daf240;
}

/*take the padding and margin of all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: var(--color9);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font3);
}

main h2 {
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--color3);
}

#filtro{
    display: flex;
    border: 1px solid var(--color6);
    border-radius: 10px;
    width: 226px;
    padding: 2px;
    gap: 2px;
    color: var(--color6);
}

#filtro select{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}


.material-symbols-outlined{
    font-size: 1rem;
    position: relative;
    top: 4px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course{
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.437);
}

.course h3{
    margin-bottom: 10px;
    color: var(--color3);
}