@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*create general variables*/
:root{
    /*font styles*/
    --font1: "Inter", sans-serif;
    --font2: "Roboto", sans-serif;
    --font3: "Open Sans", sans-serif;

    /*pallete*/
    --color1: #0A58BF;
    --color2: #084F8C;
    --color3: #073359;
    --color4: #05DBF2;
    --color5: #05F2F2;
    --color6: rgba(20,20,20,1);
    --color7: rgba(83, 83, 83, 0.599);
    --color8: rgba(18,18,18,1);
}

/*take the padding and margin of all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: var(--font3);
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 2fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    'aside header'
    'aside main';
    background-color: #05daf240;
    /*I loved this  background: linear-gradient(
    135deg,
    rgba(20,20,20,1),
    rgba(30,30,30,1),
    rgba(18,18,18,1)
  );*/ 
}

.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:var(--color4) ;   
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.339);
    /*I loved this  background: linear-gradient(
    135deg,
    rgba(20,20,20,1),
    rgba(30,30,30,1),
    rgba(18,18,18,1)
  );*/
}

.logo-top{
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    width: 200px;
    position: relative;
    left: 20px;
}

#logo{
    font-size: 50px;
    line-height: 1;
}

.logo-top h2{
    font-size: 2rem;
    margin: 0;
    line-height: 1;
    position: relative;
    top: 10px;
}

.items{
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.material-symbols-outlined{
    font-size: 30px;
    position: relative;
    top: 7px;
}

.aside-buttons{
    padding-left: 20px;
    background-color: transparent;
}

.aside-buttons:hover {
    background-color: #fff;
}



.aside-buttons a{
    text-decoration: none;
    color: #000;
    position: relative;
    bottom: 7px;
    font-size: 1.3rem;
    height: 30px;
    width: 300px;
}

aside > .buttons{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button{
    width: 229px;
    height: 40px;
    background-color: var(--color4);
    border: none;
    text-align: start;
    font-size: 1.3rem;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.286);
}

.header{
    grid-area: header;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.377);
}

#search{
    border-radius: 20px;
    width: 340px;
    height: 34px;
    padding: 2px;
    display: flex;
    gap: 0;
    position: relative;
    left: 12%;
}

input{
    width: 300px;
    height: 32px;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.801);
}

#search button{
    width: 40px;
    height: 32px;
    font-size: 1.7rem;
    border-radius: 0px 20px 20px 0px;
    border: none;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.426);
}

#theme{
    display: flex;
    width: 115px;
    height: 35px;
    gap: 0;
    border-radius: 20px 0px 0px 20px;
}

#theme span{
    width: 60px;
    height: 35px;
}

#btn-l{
    border-radius: 20px 0px 0px 20px;
    border: none;
}

#btn-r{
    border-radius: 0px 20px 20px 0px;
    border: none;
}


.header-buttons{
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    border: 1px solid black;
    position: relative;
    left: 20%;
}

.header-buttons a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    position: relative;
    bottom: 9px;
}

#user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: 20%;
}

.main{
    grid-area: main;
}