@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*create general variables*/
:root{
    /*font styles*/
    --font1: "Inter", sans-serif;
    --font2: "Roboto", sans-serif;
    --font3: "Open Sans", sans-serif;

    /*pallete*/
    --color1: #0A58BF;
    --color2: #084F8C;
    --color3: #073359;
    --color4: #05DBF2;
    --color5: #05F2F2;
    --color6: rgba(20,20,20,1);
    --color7: rgba(83, 83, 83, 0.599);
    --color8: rgba(18,18,18,1);
}

/*take the padding and margin of all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(
    135deg,
    rgba(20,20,20,1),
    rgba(30,30,30,1),
    rgba(18,18,18,1)
  );   
    height: 100vh;          
}

main{
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000000e8;
    background: linear-gradient(39deg, #0a58bf,#05dbf2,#073359);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    padding: 10px;
    border-radius: 20px;
    font-family: var(--font3);
}

#left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  border-radius: 20px;
}

main h1{
    text-align: center;
    color: #fff;
}

.space{
    display: flex;
    flex-direction: column;
}

form{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

form input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    padding: 10px;
}

form button{
    height: 30px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(39deg, #0a58bf,#05dbf2,#073359);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    color: #000;
    font-size: 1rem;
}

form button:hover{
    transform: translateY(-10%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.469);
    border: 1px solid var(--color4);
}

form p{
    text-align: center;
}

form p a{
    text-decoration: none;
    color: var(--color3);
    text-align: center;
}

